@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Instrument Serif", serif;

}
html, body {
    width: 100%;
    height: 100%;
    background-color: #f5f3ef;
}
#main {
    width: 100%;
    height: 100%;

}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 80px;
    border-bottom: 1px solid #eee;
}
header img {
    width: 180px;
}

header .menu {
    display: flex;
    align-items: center;
    gap: 1.9rem;
}
header .menu a {
    font-family: "Inter", sans-serif;
    color: #242423;
    letter-spacing: .06em;
    text-transform: uppercase;
    padding: 0;
    font-size: .875rem;
    font-weight: 500;
    line-height: 1.4;
    transition: opacity .25s
}

#hero-section {
    width: 100%;
    height: 55vh;
    padding: 80px 80px 0;
}
.trusted {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    margin-bottom: 1.5rem;
}
.trusted .trusted-img {
        object-fit: contain;
        width: 5.75rem;
        transition: all 0.3s linear;
}
.trusted .trusted-img:hover {
    transform: scale(1.2);
}

.trusted .trusted-text {
    font-family: "Inter", sans-serif;
    color: #878683;
    font-size: 1.125rem;
}
.hero-heading {
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    grid-template-rows: auto;
    grid-template-columns: 3fr 1fr;
    grid-auto-columns: 1fr;
    align-items: end;
    margin-bottom: 5rem;
    display: grid;
}

.hero-heading h1 {
    letter-spacing: -.01em;
    font-family: Instrument Serif, sans-serif;
    font-size: 5.625rem;
    font-weight: 400;
    line-height: 1;
}
.hero-heading h1 .text-color-brown {
    color: #aeadaa;
}

.scrolls {
    justify-self: end;
    padding-bottom: 0.8rem;
}
.scroll-text{
    font-family: "Inter", sans-serif;
    gap: .75rem;
    color: #242423;
    text-align: center;
    text-transform: uppercase;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.33;
    display: flex;
}


/* Basic styles for the wrapper and images */
.button-arrow-wrapper {
    display: flex;
    flex-direction: column;
    width: 1.25rem;
    min-width: 1.25rem;
    height: 1.25rem;
    min-height: 1.25rem;
    position: relative;
    overflow: hidden;
}
.button-arrow-icon {
    display: block;
    transition: transform 0.3s ease, opacity 0.3s ease; 
}

.button-arrow-icon.top-1 {
    margin-top: -1.25rem;
}

.button-arrow-wrapper:hover .button-arrow-icon.top-1 {
    transform: translateY(20px);
}

.button-arrow-wrapper:hover .button-arrow-icon:not(.top-1) {
    transform: scale(1.2) translateY(20px);
}


/* Image Section */
.image-section {
    width: 100%;
    position: relative;
    overflow: hidden;
}
.image-section .hero-image {
    object-fit: cover;
    object-position: 50% 0%;
    width: 100%;
    height: 40rem;
}
.hero-image-overlay {
    pointer-events: none;
    background-color: #0000004d;
    justify-content: center;
    align-items: center;
    display: flex;
    position: absolute;
    inset: 0%;
}
.hero-logo {
    pointer-events: auto;
    object-fit: contain;
    max-width: 20rem;
}

/* About Section */

.about-section {
    padding-top: 5rem;
    padding-bottom: 5rem;
    width: 100%;
    max-width: 80rem;
    margin-left: auto;
    margin-right: auto;
}

.small-heading {
    color: #878683;
    letter-spacing: .06em;
    text-transform: uppercase;
    font-family: Inter, sans-serif;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
    margin-bottom: 24px;
}
.about-para {
    color: #242423;
    font-size: 2.05rem;
    font-weight: 500;
    line-height: 1.25;
    font-family: "Inter", sans-serif;
    letter-spacing: -.015em;
}